*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ******Colores******/
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #4237c5;
    --primary-color-light: #babac0;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* *****Transiciones****/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    min-height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
    color: red;
}

/*Modo dark*/
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: red;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/*Contenedor Principal*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 290px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

/*Contenedor de imagen y texto*/
.sidebar .image img{
    width:60px;
    border-radius: 250px;
}

/*Para Cerrar*/
.sidebar.close{
    width: 80px;
}

/*Logo*/
.sidebar header .image{
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Texto de la cabecera*/
.sidebar .text{
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    color: var(--text-color);
    display: grid;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

/*Ocultar el texto cuando cierra*/
.sidebar.close .text{
    opacity: 0;
}

/*Lista de contenido*/
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

/*Icono de la lista*/
.sidebar .icon{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

/*Cabecera*/
.sidebar header{
    position: relative;
}

/*Contenedor del logo*/
.sidebar header .image-text{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

/*Contenedor del texto al lado del logo*/
.sidebar header .header-text{
    display: inline-block;
    flex-direction: column;
    margin-left: 5px;
}

/*Nombre*/
header .image-text .name{
    font-weight: 600;
    margin-top: 2px;
    font-size: 22px;
}

/*Unidad*/
header .image-text .unidad{
    margin-top: -2px;
    font-size: 18px;
}

/*Boton de Mostrar*/
.sidebar header .toggle{
    position: relative;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 5px;
}

/*Contenedor del input*/
.sidebar .search-box{
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
    border-radius: 6px;
}

/*El input de busqueda*/
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}


/*Cada elemento de la lista*/
.sidebar li a{
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    background-color: transparent;
    text-decoration: none;
    transition: var(--tran-03);
}

/*para cuando pasan el cursor por el elemento*/
.sidebar li a:hover{
    background-color: var(--primary-color);
}

/*Agregar un fondo cuando pasan sobre los iconos*/
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--text-color);
}

/*Lo mismo pero en negro*/
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

/*Contenedor principal del menu*/
.sidebar .menu-bar{
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

/*Para eliminar el scroll en el contenedor*/
.menu-bar::-webkit-scrollbar{
    display: none;
}

/*Contenedor del modo Oscuro*/
.menu-bar .mode{
    background-color: var(--primary-color-light);
    transition: var(--tran-05);
    position: relative;
    border-radius: 6px;
}

/*Icono*/
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
}

/*Etiqueta del modo*/
.mode .moon-sun i{
    position:absolute;
}

body.dark .mode .moon-sun i.sun{
    opacity: 1;
}
body.dark .mode .moon-sun i.moon{
    opacity: 0;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

/*Contenedor cambio de modo*/
.menu-bar .bottom-content .toogle-switch{
    height: 100%;
    min-width: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
    position: absolute;
    right: 0;
}

/*Boton cambio de moodo*/
.toogle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

/*Contenedor Principal*/
.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 320px;
    height: 100vh;
    width: calc(100% - 280px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

/*Texto contenedor principal*/
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 30px;
}

/*Tamano del home cuando se cierra*/
.sidebar.close ~ .home{
    left: 110px;
    height: 100vh;
    width: calc(100% - 7px);
}
body.dark .home .text{
    color: var(--text-color);
}

/*Tamano de imagen*/
.img{
    height: 400px;
    width: 400px;
}

.col-md-10 {
    border: 5px solid green;
    margin: 10px 0px 0px 30px;
    display:flexbox;
    width: 200px;
    padding: 0px 0px 0px 30px;
}
